<template>
  <div class="question-box-container">
    <b-jumbotron>
      <template slot="lead">
        {{ currentQuestion.question }}
      </template>

      <hr class="my-4" />

      <b-list-group>
        <b-list-group-item
          v-for='(answer, index) in shuffeledAnswers'
          :key='index'
          @click="selectAnswer(index)"
          :class="answerClass(index)"
        >
          {{ answer }}
        </b-list-group-item>
      </b-list-group>

      <b-button variant="primary"
        @click='submitAnswer'
        :disabled='answered || selectedIndex === null'
      >
      Submit
      </b-button>
      <b-button variant="success"
        @click='next'
        :disabled="!nextQ"
      >
      Next
      </b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    currentQuestion: Object,
    next: Function,
    increment: Function
  },
  data() {
    return {
      selectedIndex: null,
      shuffeledAnswers: [],
      correctIndex: null,
      answered: false,
      nextQ: false
    }
  },
  computed: {
    answers() {
      let answers = [...this.currentQuestion.incorrect_answers]
      answers.push(this.currentQuestion.correct_answer)
      return answers
    }
  },
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.selectedIndex = null
        this.shuffleAnswers()
        this.answered = false
        this.nextQ = false
      }
    }
  },
  methods: {
    selectAnswer(index) {
      this.selectedIndex = index
    },
    submitAnswer() {
      let isCorrect = false

      if(this.selectedIndex === this.correctIndex) {
        isCorrect = true
      }
      this.answered = true
      this.nextQ = true
      this.increment(isCorrect)
    },
    shuffleAnswers() {
      let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]
      this.shuffeledAnswers = _.shuffle(answers)
      this.correctIndex = this.shuffeledAnswers.indexOf(this.currentQuestion.correct_answer)
    },
    answerClass(index) {
      let ansClass = ''
      if(!this.answered && this.selectedIndex === index) {
        ansClass = 'selected'
      } else if(this.answered && this.correctIndex === index) {
        ansClass = 'correct'
      } else if (this.answered && this.selectedIndex === index && this.correctIndex !== index) {
        ansClass = 'incorrect'
      }
      return ansClass
    }
  }
}
</script>

<style scoped>
  .list-group {
    margin-bottom: 15px;
  }
  .list-group-item:hover {
    cursor: pointer;
  }
  .btn {
    margin: 0 5px;
  }
  .selected {
    background: lightblue;
    color: black;
  }
  .correct {
    background: lightgreen;
    color: black;
  }
  .incorrect {
    background: purple;
    color: white;
  }
</style>
