<template>
  <div id="app">
    <Header
      :numCorrect='numCorrect'
      :numTotal='numTotal'
    />
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <QuestionBox
            v-if="question.length"
            :currentQuestion = 'question[index]'
            :next='next'
            :increment='increment'
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import QuestionBox from './components/QuestionBox.vue'

export default {
  name: 'app',
  components: {
    Header,
    QuestionBox
  },
  data() {
    return {
      question: [],
      index: 0,
      numCorrect: 0,
      numTotal: 0
    }
  },
  methods: {
    next() {
      if(this.index !== 9) {
        this.index++
      }
    },
    increment(isCorrect) {
      if(isCorrect) {
        this.numCorrect++
      }
      this.numTotal++
    }
  },
  mounted: function() {
    fetch('https://opentdb.com/api.php?amount=10&category=18&type=multiple', {
      method: 'get'
    })
      .then((response) => {
        return response.json()
      }).then((jsonData) => {
        this.question = jsonData.results
      })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
